
.form-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.form{
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  border-radius: 9px;
  align-items: center;
  box-shadow: 10px 6px 5px -1px rgba(0, 0, 0, 0.251);

}
.input{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;

}
.joined{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.joined input{
  margin-right: 10px;
}
.button{
  padding: 15px;
  margin-top: 14px;
  padding-left: 59px;
  padding-right: 59px;
  align-items: center;
  background: rgba(2,0,36,0.5);

  
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;

}